/* == reset == */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}

/* == constraints == */					
body {
	/*width: 395px;*/ /* <- 395px was the max screen width */
	height: 635px;
	overflow: hidden;
	background-color: black;
}

/* == basics == */
h1,h2,h3,h4,h5,h6,p {
	color: white;
	font-family: sans-serif;
}

/* == layout == */
.box {
	float: left;
	display: inline-block;
	border-radius: 20px;
	background-color: #222;
	min-height: 50px;
	min-width: 50px;
	overflow: hidden;
}

.leftpad {
	margin-left: 10px;
}


/* == top boxes == */
#topboxes {
	width: 2000px;
}

#topboxes .box {
	width: 98px;
	height: 100px;
	margin-left: 15px;
	text-align: center;
}

#clock {
	padding: 11px 10px 5px 10px;
	width: 100px !important;
	height: 84px !important;
	margin-left: 0 !important;
}


/* top middle block */

x#topmid {
	visibility: hidden;
}


/* hub room block */

#hubroom h3 {
	font-size: 10pt;
	margin: 16px 0 6px 0;
}

#hubroom h4 {
	font-size: 1.8em;
	margin-bottom: 3px;
}

#hubroom h5.ok {
	color: grey;
}

#hubroom h5.problem {
	color: white;
}



/* studio blocks */
.studio {
	margin-top: 14px;
	width: 100%;
	height: 80px !important;
	overflow: hidden;
}

x.studio {
	text-align: left !important;
}

.studio .title {
	position: absolute;
	width: 90%;
	margin: 6px 0 0 3%;
	font-size: 10pt;
}

.studio_details {
	position: absolute;
	width: 90%;
	margin: 26px 0 0 3%;
}

.studio .load div a img {	/* graph background */
	float: right;
	opacity: .3;
	border-radius: 20px;
}

.idle.no h5 {
	color: white;
}

.idle.yes h5 {
	color: grey;
}

.workspace {
	margin-top: 3px;
}

.workspace.ok h6 {
	color: grey;
}

.workspace.warning h6 {
	color: yellow;
}

.workspace.critical h6 {
	color: red;
}
